{{ with .Site.Params.footer }}
<footer>
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-pb-sm">
          <div class="row">
            <div class="col-md-10">
							<h2>About ACM</h2>
              <p>
								The Association for Computing Machinery (ACM) is an international learned society for computing. It was founded in 1947, and is the world's largest scientific and educational computing society. The ACM is a non-profit professional membership group, with more than 100,000 members as of 2011. Its headquarters are in New York City.
              </p>
              <!-- <div class="row"> -->
              <!--   <div class="col&#45;md&#45;6"> -->
              <!--     <p>From the countries Vokalia and Consonantia</p> -->
              <!--   </div> -->
              <!--   <div class="col&#45;md&#45;6"> -->
              <!--     <p>Far far away, behind the word mountains</p> -->
              <!--   </div> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-4 col-pb-sm make-center">
          <h2>Get in touch!</h2>
          <p>
          </p>
          <div class="subscribe text-center">
            <p>
  						<i class="icon-email1 "></i>
                  <a class="text-center subscribe" href="mailto:hello@nitdelhi.acm.org">
                    hello@nitdelhi.acm.org
                  </a>
            </p>
            <!-- <div class="form&#45;group"> -->
            <!--   <input -->
            <!--     type="text" -->
            <!--     class="form&#45;control text&#45;center" -->
            <!--     placeholder="Enter Email address" -->
            <!--   /> -->
            <!--   <input -->
            <!--     type="submit" -->
            <!--     value="Subscribe" -->
            <!--     class="btn btn&#45;primary btn&#45;custom" -->
            <!--   /> -->
            <!-- </div> -->
          </div>
        </div>
        <div class="col-md-4 col-pb-sm right-display">
          <h2>Follow Us</h2>
          <p class="colorlib-social-icons colorlib-social-icons2">
            <a href="#"><i class="icon-facebook4"></i></a>
            <a href="#"><i class="icon-twitter3"></i></a>
            <a href="#"><i class="icon-googleplus"></i></a>
            <a href="#"><i class="icon-dribbble2"></i></a>
          </p>
          <p>
            <span class="block">
              Copyright &copy;<script
                type="d654ce24c28c8539e7f81281-text/javascript"
              >
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="icon-heart2" aria-hidden="true"></i> by 
							NIT Delhi ACM Student Chapter Web Team
              <!-- <a href="https://colorlib.com" target="_blank">NIT Delhi CS Society</a> <br -->
            </span>

            <!-- <span class="block" -->
            <!--   >Demo Images: -->
            <!--   <a href="http://nothingtochance.co/" target="_blank" -->
            <!--     >nothingtochance.co</a -->
            <!--   > -->
            <!--   <a href="http://unsplash.co/" target="_blank">Unsplash</a></span -->
            <!-- > -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
{{ end }}

<script
  src="js/jquery.min.js"
  type="d654ce24c28c8539e7f81281-text/javascript"
></script>

<script
  src="js/jquery.easing.1.3.js"
  type="d654ce24c28c8539e7f81281-text/javascript"
></script>

<script
  src="js/bootstrap.min.js"
  type="d654ce24c28c8539e7f81281-text/javascript"
></script>

<script
  src="js/jquery.waypoints.min.js"
  type="d654ce24c28c8539e7f81281-text/javascript"
></script>

<script
  src="js/jquery.flexslider-min.js"
  type="d654ce24c28c8539e7f81281-text/javascript"
></script>

<script
  src="js/jquery.countTo.js"
  type="d654ce24c28c8539e7f81281-text/javascript"
></script>

<script
  src="js/owl.carousel.min.js"
  type="d654ce24c28c8539e7f81281-text/javascript"
></script>

<script
  src="js/main.js"
  type="d654ce24c28c8539e7f81281-text/javascript"
></script>

<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"
  type="d654ce24c28c8539e7f81281-text/javascript"
></script>
<script type="d654ce24c28c8539e7f81281-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script
  src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js"
  data-cf-settings="d654ce24c28c8539e7f81281-|49"
  defer=""
></script>
